<footer class="footer">
  <div class="container">
    <p class="text-muted">Học <strong style="color: red;">"Lập trình Ruby căn bản"</strong> trên kênh Youtube Trần Đức Lợi. All rights reserved.</p>
    <p class="text-muted">Ghi rõ nguồn "Kênh Youtube Trần Đức Lợi - Học lập trình Ruby căn bản" khi phát hành lại thông tin từ kênh thông tin này.</p>
  </div>
</footer>